#barraNumero {
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn {
  margin: 1em;
}

.cuerpo {
  font-family: 'Segoe UI', sans-serif;
  font-size: small;
}

.espacioCheckbox {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table-check {
  margin: 0 auto;
}

.App {
  text-align: center;
}

.margentitulo0 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.centroCarga {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.anchoCard {
  width: 1000px;
}

.hoverHand {
  cursor: pointer;
}