.tabla-vertical {
  overflow: auto;
}

.stickyleft {
  background: white;
  position: sticky;
  left: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.stickyhead {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.cuartaGraficaMargen {
  margin-top: 1950px;
  margin-bottom: 100px;
}

.margentitulo4 {
  margin-bottom: 40px;
}

.A {
  color: #D90025;
}

.C {
  color: #3BD23D;
}

.G {
  color: #0082B4;
}

.T {
  color: #F6EB61;
}

.R {
  color: #B5CF61;
}

.N {
  color: #FFAA52;
}

.D {
  color: #FF82DB;
}

.B {
  color: #A89E81;
}

.E {
  color: #696C71;
}

.Q {
  color: #9AFF1C;
}

.Z {
  color: #B88BB3;
}

.H {
  color: #45B8AC;
}

.I {
  color: #52703F;
}

.L {
  color: #D7B7AA;
}

.K {
  color: #7D303D;
}

.M {
  color: #E25A06;
}

.F {
  color: #3B4B87;
}

.P {
  color: #7B5EC6;
}

.S {
  color: #CFB023;
}

.W {
  color: #99D6EA;
}

.Y {
  color: #C800A1;
}

.V {
  color: #212322;
}

.gap {
  color: #AA6B24;
}