.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}
  
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
  
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.segundaGrafica{
	display: block
}

.centrar{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}