.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.secondGraphBlock {
    display: block
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.secondGraphMargin {
    margin-top: 465px;
}

#legend2 {
    margin-top: -75px;
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}